<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a class="search-link pull-right" (click)="toogleSearch()">
      <span *ngIf="iptSearch.value">
        <small>"{{iptSearch.value}}"...</small>
      </span>
      <i class="fa fa-search"></i>
    </a>
  </h1>
  <!--Barra de Pesquisar -->
  <div class="row">
    <div class="col-xs-12 seacrchBarState" [@toogleSearch]="seacrchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" value="" #iptSearch formControlName="searchControl" class="form-control" placeholder="O que você procura ?">
          <!-- #ipSearch, assim tenho uma referencia do campo de busca-->
        </div>
      </form>
    </div>
  </div>

</section>


<section class="content">

  <div class="row">
    <div *ngFor="let restaurant of restaurantsArray" class="col-sm-6 col-xs-12">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>

    <div *ngIf="restaurantsArray.length === 0" class="col-xs-12">
      <p class="lead text-center">
        Não foram encontrados itens para sua busca
      </p>
    </div>
  </div>
  <!-- /.col -->
</section>
<!-- FIM  do CONTEÚDO -->